<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-danger" *ngIf="error">
            <p>{{error}}</p>
            <button class="btn btn-danger" (click)="onClicked()">X</button>
        </div>
        <div *ngIf="isLoading">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" ngModel name="email" required email>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password"
                 ngModel name="password" required minlength="6">
            </div>
            <div style="margin-top: 12px;">
                <button class="btn btn-primary" style="margin-right: 12px;"
                type="submit" [disabled]="!authForm.valid">{{isLoginMode ? 'Login' : 'Sign Up'}}</button>
                <button class="btn btn-primary" (click)="onSwitchMode()" type="button"
                >Switch to {{isLoginMode ? 'Sign Up' : 'Login'}}</button>
            </div>
        </form>
    </div>
</div>
