<header>
    <div class="navbar_social">
        <div class="navbar_social_left">
            <p><i class="fa fa-home" aria-hidden="true"></i>&nbsp; Welcome to Gymholic</p>
            <p><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp; Mon - Fri 9:00 am - 18:00 pm</p>
        </div>
        <div class="navbar_social_right">
            <a><i class="fab fa-facebook-f"></i></a>
            <a><i class="fab fa-github"></i></a>
            <a><i class="fab fa-instagram"></i></a>
            <a><i class="fab fa-twitter"></i></a>
        </div>
    </div>
    <nav class="navbar" #navbar>
        <ul class="navbar_nav">
            <li class="logo">
                <a class="logo_link nav_link" style="cursor: pointer;">
                    <img src="https://cdn.icon-icons.com/icons2/2457/PNG/512/exercise_dumbbells_gym_fitness_diet_icon_149053.png"
                        alt="">
                    <h5>Gymholic</h5>
                </a>
            </li>
            <li class="nav-item">
                <a class='nav_link' href="">Home</a>
            </li>
            <li class="nav-item">
                <a class='nav_link' href="">About</a>
            </li>
            <li class="nav-item">
                <a class='nav_link' href="">Contact Us</a>
            </li>
        </ul>
    </nav>
</header>