*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.navbar_social{
    background-color: #ea4c23;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
}
.navbar_social_left{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}
.navbar_social_right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10%;
}
.navbar{
    display: grid;
    place-content: center;
    position: fixed;
    width: 100%;
    height:70px;
    z-index:6;
    top:50px;
    color: #fff;
}
.navbar_nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar_nav li{
    padding: 12px;
}
.nav_link {
    color: #fff;
}
.navbar_nav .logo .logo_link{
     display: flex;
     align-items: center;
     justify-content: center;
}
.navbar_nav .logo img{
    width: 50px;
    height:50px;
}
.extend{
    top: 0;
    background-color: #fff;
    columns: #423e3e;
    color: black;
}
.nav_link_extend{
   color: black !important;
}
