.menus{
    margin-top: 4px;
    display: none;
}
.menus li{
    list-style: none;
    background-color: rgb(213, 196, 196);
    padding: 10px;
    width: 170px;
}
.menus li a {
  text-decoration: none;
  color: black;
}
.open{
    display: block;
}