<mat-card>
    <h1>Add New Category</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field class="w100" appearance="outline">
                          <mat-label>Title</mat-label>
                          <input type="text" name="title" matInput placeholder="Enter here"
                          autofocus [(ngModel)]="category.title" required>
                        </mat-form-field>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea type="texta" name="description" matInput 
                            placeholder="Enter description here"
                            rows="20" 
                            [(ngModel)]="category.description"></textarea>
                          </mat-form-field>
                          <div class="container text-center mt15">
                            <button mat-raised-button color="primary">Add</button>
                          </div>
                      </form>
                </div>
            </div>
        </div>
        
    </mat-card-content>
</mat-card>