<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd=!onlyOdd">only show odd numbers</button>
      <br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li class="list-group-item" *ngFor="let odd of oddNumbers" [ngClass]="{odd:odd%2!=0}">{{odd}}</li>
        </div>
        <div *ngIf="!onlyOdd">
          <li class="list-group-item" *ngFor="let even of evenNumbers"
            [ngStyle]="{backgroundColor:even%2==0? 'green':'transparent'}">{{even}}</li>
        </div>
        <br>
        <!--internal working of structural directive-->
        <ng-template [ngIf]="!onlyOdd ">
          <li class="list-group-item" *ngFor="let even of evenNumbers"
            [ngStyle]="{backgroundColor:even%2==0? 'green':'transparent'}">{{even}}</li>
        </ng-template>
        <!--custom structural directive-->
        <div *conditionCheck="onlyOdd">
          <li class="list-group-item" *ngFor="let even of evenNumbers">{{even}}</li>
        </div>

      </ul>
      <br>
      <p appBasicHighlight>this is basic attribute directive</p>
      <p appBetterHighlight [defaultColor]="'green'" [highlightedColor]="'red'">this is better attribute directive</p>
      <!--ngSwitch-->
      <ul *ngFor="let person of people" [ngSwitch]="person.country">

        <li *ngSwitchCase="'UK'" class="text-success">{{ person.name }} ({{ person.country }})
        </li>
        <li *ngSwitchCase="'USA'" class="text-primary">{{ person.name }} ({{ person.country }})
        </li>
        <li *ngSwitchCase="'HK'" class="text-danger">{{ person.name }} ({{ person.country }})
        </li>
        <li *ngSwitchDefault class="text-warning">{{ person.name }} ({{ person.country }})
        </li>
      </ul>

    </div>

  </div>
</div>