<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-4 form-group">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" class="form-control" #nameInput>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="amount" class="form-label">Amount</label>
                    <input type="number" class="form-control" id="amount" #amountInput>
                </div>
            </div>
            <div class="row mt-3">
              <div class="col-xs-12">
                <button type="submit" class="btn btn-success mx-1" (click)="onAdded(nameInput)">Add</button>
                <button type="button" class="btn btn-danger mx-1">Delete</button>
                <button type="button" class="btn btn-primary mx-1">Clear</button>
              </div>
            </div>
        </form>
    </div>
</div>