<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-4 form-group">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" ngModel required>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="amount" class="form-label">Amount</label>
                    <input type="number" class="form-control" id="amount" ngModel name="amount" required> 
                </div>
            </div>
            <div class="row mt-3">
              <div class="col-xs-12">
                <button type="submit" class="btn btn-success mx-1" type="submit" 
                [disabled]="!f.valid">{{editMode ? 'Update' : 'Add'}}</button>
                <button type="button" class="btn btn-danger mx-1" type="button"
                *ngIf="editMode" (click)="onDeleteItem()">Delete</button>
                <button type="button" class="btn btn-primary mx-1" type="button" 
                (click)="onClear()">Clear</button>
              </div>
            </div>
        </form>
    </div>
</div>