<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="form-group" style="margin-top: 20px;">
            <label for="account">Account Name</label>
            <input type="text" name="account" [(ngModel)]="accountName">
        </div>
        <div class="form-group" style="width: 300px; margin-top: 20px;">
            <select class="form-control" #status>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
                <option value="hidden">Hidden</option>
            </select>
        </div>
        <button class="btn btn-success"
         style="margin-top: 20px;"
         (click)="onCreateAccount()">Add Account</button>
    </div>
</div>